<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <H1>REGISTER PAGE</H1>

    {% for message in messages %}
    <div class = "alert alert-{{ message.tags }} alert-dismissible fade show" role = "alert">
        <strong>Message:</strong> {{ message }}
        <button type = "button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <form action="/register" method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name = "username" id = "username" placeholder= "Create a unique username" Required>
        <br>

        <label for="">First Name</label>
        <input type="text" name = "fname" id = "fname" placeholder= "Your First Name" Required>
        <br>

        <label for="">Last Name</label>
        <input type="text" name = "lname" id = "lname" placeholder= "Your Last Name" Required>
        <br>

        <label for="">Email</label>
        <input type="email" name = "email" id = "email" placeholder= "Your Email" Required>
        <br>

        <label for="">Password</label>
        <input type="password" name = "pass1" id = "pass1" placeholder= "Your Password" Required>
        <br>

        <label for="">Confirm Your Password</label>
        <input type="password" name = "pass2" id = "pass2" placeholder= "Confirm Your Password" Required>
        <br>

        <label for="">Are You A?</label>
        <br>
        <input type="radio" id="librarian" name="designation" value="librarian">
        <label for="librarian">Librarian</label>
        <br>

        <input type="radio" id="visitor" name="designation" value="visitor">
        <label for="visitor">Visitor</label>
        <br>

        <button type="submit">Sign Up</button>

    </form>
</body>
</html>