<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISITOR</title>
</head>
<body>
    {% for message in messages %}
    <div class = "alert alert-{{ message.tags }} alert-dismissible fade show" role = "alert">
        <strong>Message:</strong> {{ message }}
        <button type = "button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <h3>Hello, {{ user.fname }}</h3>
    <h4>You are successfully Logged In!</h4>

    {% for book in object_list %}

        <h3>Title: {{ book.title }}</h3>
        <h3>Available Copies: {{ book.copies_avail }}</h3>
        <h3>Tags: {{ book.tags }}</h3>

    {% endfor %}
    <!--
    <form action="crud" method="post">
        {% csrf_token %}
        <label for="search">Search for Book: </label>
        <input type="text" name = "search" id = "search" placeholder="Enter Book Name">

        <button type="submit">Search</button>

    </form>
    -->

    <button type="submit"> <a href="/signout"> SIGN OUT </a></button>
    {% else %}
    <button type="submit"> <a href="/login"> LOGIN </a></button>
    <button type="submit"> <a href="/register"> REGISTER </a></button>
    {% endif %}
</body>
</html>